* {
    border: none;
    border-radius: 0px;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 14px;
    min-height: 0px;
    padding: 0px 3px;
    margin: 0px 0px;
}

window#waybar {
  color: transparent;
  background: transparent;
  margin: 10px 10px;
}

#workspaces button.active {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
  border-radius: 7px;
}

#idle_inhibitor.activated {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
  border-radius: 7px;
}

#pulseaudio.mic.source-muted {
  color: @error_color;
}

#pulseaudio.sink.muted {
  color: @error_color;
}

#temperature.critical {
  color: @error_color;
}

#group-audio.custom-power {
  color: @error_color;
}

#bluetooth,
#workspaces,
#taskbar,
#clock,
#toggle-group,
#group-power,
#group-audio,
#group-system-status,
#tray {
  margin: 4px 5px;
  padding: 7px 5px;
  color: @theme_fg_color;
  background: shade(alpha(@theme_bg_color, 0.9), 1.25);
  border-color: shade(alpha(#a6a8ad, 0.8), 1.25);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
