* {
    border: none;
    border-radius: 0px;
    font-family: "Fira Code Nerd Font";
    font-size: 14px;
    min-height: 0px;
    padding: 0px 3px;
    margin: 0px 0px;
}

window#waybar {
  background: transparent;
  color: transparent;
  margin: 10px 10px;
}

#workspaces button.active {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
  border-radius: 7px;
}

#bluetooth,
#workspaces,
#taskbar,
#clock,
#toggle-group,
#group-power,
#group-audio,
#group-system-status,
#tray {
  margin: 4px 5px;
  padding: 7px 5px;
  color: @theme_fg_color;
  background: shade(alpha(@borders, 0.45), 1.25);
  border-radius: 8px;
}
