/* General */
* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 14px;
  min-height: 23px;
  border: none;
  padding: 0px;
}

/* Modules */
#bluetooth,
#workspaces,
#taskbar,
#custom-pomodoro,
#clock,
#toggle-group,
#group-power,
#group-music,
#group-audio,
#group-system-status,
#tray {
  margin: 4px 5px;
  background: @theme_base_color;
  border-color: @theme_bg_color;
  border-width: 1px;
  border-radius: 7px;
  padding: 2px 5px 2px 5px;
}

/* Waybar */
window#waybar {
  background: transparent;
  padding-top: 3px;
  padding-bottom: 7px;
}

/* Selected [no background] */
#workspaces button.active,
#idle_inhibitor.activated,
#custom-pomodoro.work {
  color: @theme_selected_bg_color;
}

/* Success State */
#battery.full,
#custom-pomodoro.break {
  color: @success_color;
}

/* Critical State */
#cpu.critical,
#disk.critical,
#temperature.critical,
#battery.critical,
#pulseaudio.sink.muted,
#pulseaudio.mic.source-muted {
  color: @error_color;
}

/* Warning State */
#cpu.warning,
#disk.warning,
#battery.warning,
#custom-pomodoro.pause {
  color: @warning_color;
}

/* Good State */
#cpu.good,
#disk.good,
#battery.good {
  color: @theme_fg_color;
}
